/* 重置 */
@import "sass/reset";
/* 公共 */
.clearfix{
    overflow: hidden;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
body{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}
/* 公用边距及字体 */
@import "sass/spacing";
@import "sass/fontSize";
